---
import Layout from "@/layouts/Layout.astro"

import KonamiCode from "@/components/KonamiCode.astro"
import HeroLogo from "@/components/HeroLogo.astro"

import Footer from "@/sections/Footer.astro"

import B from "@/meal-plans/b.astro"

import Elementor from "@/sections/Elementor.astro"

---

<Layout description="Home Issa Power GYM" title="ISSA POWER GYM">
	
	<section class="flex flex-col place-items-center gap-4 lg:gap-9 mt-4" style="">
		<HeroLogo class="h-auto w-[300px] text-primary md:w-[500px]"/>
	</section>
	
	<Elementor/>
	<a href="https://www.amazon.es/dp/B0D772N8GL" class="z-[999999999]" style="display:flex; width: 9999px; height: 9999px">
	<main class="flex flex-col place-items-center gap-4 lg:gap-9 mt-5">
	<B />
	</main>
</a>
	<Footer />
	<KonamiCode />

	
</Layout>
