---
import DownloadMenu from "@/routines/downloadMenu.astro"

---
<style>@import url('../css/style.css');</style>

<section class="max-w-2xl mx-auto" style="border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md" id="makepdf">
    <h2 class="text-2xl font-extrabold mb-4 mt-4"><strong>Rutinas para iniciados: Adaptación aprox 2 semanas:</strong></h2>   
    <p class="mb-4 border-l"><u>Las cargas iniciales serán ligeras para estimular y permitir una pronta recuperación.</u></p>
        
        <ul class="space-y-4 pl-5" style="text-align: justify;">
            <li>
                <strong>Día 1:</strong><br>
                <strong>Pecho:</strong><br>
                Descanso de <b>1 min</b> entre series:<br><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Pecho plano con mancuernas <b>(4x8).</b></li>
                    <li>Pecho inclinado con mancuernas <b>(4x8).</b></li>
                    <li>Apertura plano con mancuernas <b>(4x8).</b></li>
                </ul>
                <br>
                <strong>Tríceps:</strong><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Jalón con V <b>(4x8).</b></li>
                    <li>Trasnuca con mancuerna <b>(4x8).</b></li>
                    <li>Extensiones <b>(4x10).</b></li>
                </ul>
            </li>

            <li>
                <strong>Día 2:</strong><br>
                <strong>Piernas:</strong><br>
                Descanso de 1 min entre series:<br><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Sillón de cuádriceps <b>(4x10).</b></li>
                    <li>Sentadillas frontales <b>(4x10).</b></li>
                    <li>Prensa 45° <b>(4x10).</b></li>
                    <li>Pendular <b>(4x10).</b></li>
                    <li>Pantorrillas <b>(4x15).</b></li>
                </ul>
            </li>

            <li>
                <strong>Día 3:</strong><br>
                <strong>Espalda:</strong><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Jalón al mentón <b>(4x8).</b></li>
                    <li>Jalón bajo polea <b>(4x8).</b></li>
                    <li>Extensiones con barra <b>(4x8).</b></li>
                    <li>Remo con mancuernas <b>(4x8).</b></li>
                </ul>
                <br>
                <strong>Bíceps:</strong><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Alternados con mancuernas <b>(4x12).</b></li>
                    <li>Curl de barra W <b>(4x15).</b></li>
                    <li>Curl con polea <b>(4x15).</b></li>
                </ul>
            </li>

            <li>
                <strong>Día 4:</strong><br>
                <strong>Hombros:</strong><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Press militar <b>(4x8).</b></li>
                    <li>Elevación frontal <b>(4x8).</b></li>
                    <li>Vuelos <b>(4x8).</b></li>
                    <li>Posterior con mancuernas <b>(4x8).</b></li>
                    <li>Encogimientos con barra <b>(4x8).</b></li>
                </ul>
            </li>

            <li>
                <strong>Día 5:</strong><br>
                <strong>Piernas:</strong><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Bici fija o Cuerda <b>(10 min).</b></li>
                    <li>Sentadillas <b>(4x8).</b></li>
                    <li>Estocadas <b>(4x8).</b></li>
                    <li>Pendular <b>(4x8).</b></li>
                    <li>Hack <b>(4x8).</b></li>
                </ul>
            </li>
        </ul>

    <p class="mt-4 mb-4" style="font-weight:600">Brandan Pablo Gonzalo.</p>
<DownloadMenu/>
</section>

