---
import DownloadMenu from "@/routines/downloadMenu.astro"

---
<style>@import url('../css/style.css');</style>

<section class="max-w-2xl mx-auto" style=" border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md" id="makepdf">
    <h2 class="text-2xl font-extrabold mb-4 mt-4"><strong>Rutina adaptada para bajar de peso:</strong></h2>
    <p class="mb-4 border-l ml-2 mr-2" ><u>Las cargas iniciales serán ligeras para estimular y permitir una pronta recuperación.</u></p>
    
    <ul class="space-y-4 pl-5" style="text-align: justify;">
        
        <li>
            <strong>DIA 1:</strong>
            <ul>
                <li><b>(20 min)</b> de cardio en bici o caminadora.</li>
                <li><b>(4X15)</b> sillón.</li>
                <li><b>(4X15)</b> camilla.</li>
                <li><b>(4X15)</b> multicadera aducción.</li>
                <li><b>(4X15)</b> pantorrillas en máquina.</li>
                <li><b>(30 min)</b> de cardio combinado bici y caminadora.</li>
            </ul>
        </li>
        <li>
            <strong>DIA 2:</strong>
            <ul>
                <li><b>(20 min)</b> cardio en bici fija o caminadora.</li>
                <li><b>(4X15)</b> press plano con mancuernas.</li>
                <li><b>(4X15)</b> press inclinado con mancuernas.</li>
                <li><b>(4X15)</b> jalón en polea con V.</li>
                <li><b>(4X15)</b> jalón en polea unilateral.</li>
                <li><b>(30) min</b> de cardio combinado en bici y caminadora.</li>
            </ul>
        </li>
        <li>
            <strong>DIA 3:</strong>
            <ul>
                <li><b>(20 min)</b> de cardio en bici fija o caminadora.</li>
                <li><b>(4X15)</b> jalón al mentón.</li>
                <li><b>(4X15)</b> jalón bajo.</li>
                <li><b>(4X15)</b> alternados con mancuernas.</li>
                <li><b>(4X15)</b> curl con barra W.</li>
                <li><b>(30 min)</b> de cardio combinado.</li>
            </ul>
        </li>
        <li>
            <strong>DIA 4:</strong>
            <ul>
                <li><b>(20 min)</b> de cardio en bici fija.</li>
                <li><b>(4X15)</b> sillón.</li>
                <li><b>(4X15)</b> camilla.</li>
                <li><b>(4X15)</b> multicadera aducción.</li>
                <li><b>(4X15)</b> pantorrillas en máquina.</li>
                <li><b>(30 min)</b> cardio combinado.</li>
            </ul>
        </li>
        <li>
            <strong>DIA 5:</strong>
            <ul>
                <li><b>(4X15)</b> press plano con mancuernas.</li>
                <li><b>(4X15)</b> aperura inclinado con mancuernas.</li>
                <li><b>(4X15)</b> remo unilateral con mancuernas.</li>
                <li><b>(4X15)</b> remo unilateral en polea.</li>
                <li><b>(30 min)</b> de cardio combinado.</li>
            </ul>
        </li>
        <li>
            <strong>DIA 6 : </strong> DESCANSO ACTIVO // BICI O CAMINATA.
        </li>
    </ul>
    
<br>
<DownloadMenu/>
</section>