---

import DownloadMenu from "@/routines/downloadMenu.astro"


---
<style>
    @import url('../css/style.css');
 </style>

<section class="max-w-2xl mx-auto" style="border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md">

        <h2 class="text-2xl font-bold mb-4">Rutina adaptada - Ciclismo</h2>
        
        <ul class="space-y-4"  style="text-align: justify;">
            <li>
                <strong>DIA 1: PECHO</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>4X18</b> PLANO CON BARRA</li>
                    <li><b>4X18</b> INCLINADO CON BARRA</li>
                    <li><b>4X18</b> APERTURA PLANO CON MANCUERNAS</li>
                    <li><b>4X18</b> CRUCES EN POLEA ALTO</li>
                    <li><b>4X18</b> PULL OVER</li>
                    <li>Trabajar con pesos moderados a livianos parte alta / descansos de <b>1 min</b></li>
                </ul>
            </li>
            <li>
                <strong>Dia 2: CUADRICEPS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>4X8</b> SILLON</li>
                    <li><b>4X8</b> SENTADILLAS FRONTALES</li>
                    <li><b>4X8</b> PENDULAR</li>
                    <li><b>4X8</b> ESTOCADAS CORTAS INDIVIDUALES</li>
                    <li><b>4X8</b> PRENSA PISADA CENTRADA</li>
                    <li><b>4X8</b> PANTORRILLAS EN MAQUINA</li>
                    <li>Trabajar con cargas altas, sin sacrificar la técnica, descanso de <b>2 min</b></li>
                </ul>
            </li>
            <li>
                <strong>Dia 3: ESPALDA Y HOMBROS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>4X15</b> JALON AL MENTON</li>
                    <li><b>4X15</b> REMO BAJO</li>
                    <li><b>4X15</b> REMO CON MANCUERNAS</li>
                    <li><b>4X15</b> PRESS MILITAR</li>
                    <li><b>4X15</b> ELEVACIONES FRONTALES</li>
                    <li><b>4X15</b> VUELOS LATERALES</li>
                    <li>Pesos livianos con descanso de <b>1 min</b></li>
                </ul>
            </li>
            <li>
                <strong>Dia 4: FEMORALES / ISQUIOS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>4X8</b> CAMILLA DE FEMO</li>
                    <li><b>4X8</b> PESO MUERTO</li>
                    <li><b>4X8</b> PRENSA PISADA ALTA</li>
                    <li><b>4X8</b> BANCO LUMBAR CON DISCO</li>
                    <li><b>4X8</b> PANTORRILLAS EN MAQUINA</li>
                    <li>Cargas altas, descansos de <b>2 min</b></li>
                </ul>
            </li>
            <li>
                <strong>Dia 5: BICEPS Y TRICEPS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>4X15</b> ALTERNADOS CON MANCUERNAS</li>
                    <li><b>4X15</b> CURL DE BARRA RECTA</li>
                    <li><b>4X15</b> CURL DE BARRA W</li>
                    <li><b>4X15</b> JALON CON V</li>
                    <li><b>4X15</b> JALON CON CUERDA</li>
                    <li><b>4X15</b> FONDOS EN BANCO</li>
                    <li>Trabajar con poca carga y descansos de <b>1 min</b></li>
                </ul>
            </li>
            <li>
                <strong>Dia 6: GLUTEOS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>4X8</b> ELEVACION DE PELVIS</li>
                    <li><b>4X8</b> SENTADILLAS PROFUNDAS</li>
                    <li><b>4X8</b> SENTADILLAS ZUMO</li>
                    <li><b>4X8</b> PATADA CON CABLE O PESO MUERTO A UNA PIERNA</li>
                    <li><b>4X8</b> PANTORRILLAS</li>
                </ul>
            </li>
        </ul>

        <p class="mt-4" style="font-weight: 600;">Brandan Pablo Gonzalo.</p>

    </section>



</ul>
    
<br>
<DownloadMenu/>
</section>