---

import DownloadMenu from "@/routines/downloadMenu.astro"


---
<style>
    @import url('../css/style.css');
 </style>

<section class="max-w-2xl mx-auto" style=" border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md">

        <h2 class="text-2xl font-bold mb-4">Rutina de 5 días para hombres</h2>
        
        <ul class="space-y-4"  style="text-align: justify;">
        <li>
            <strong>Dia 1: Piernas</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>5 min</b> de calentamiento previo en cinta o caminadora</li>
                <li><b>4x12</b> SILLON DE CUÁDRICEPS</li>
                <li><b>4x12</b> PRENSA 45</li>
                <li><b>4x12</b> SENTADILLAS PROFUNDAS</li>
                <li><b>4x12</b> SENTADILLAS ZUMO</li>
                <li><b>4x15</b> PANTORRILLAS</li>
            </ul>
        </li>
        <li>
            <strong>Dia 2: Pecho</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li>Calentamiento previo multiarticular</li>
                <li><b>4x12</b> PRESS PLANO CON BARRA</li>
                <li><b>4x12</b> PRESS INCLINADO CON MANCUERNAS</li>
                <li><b>4x12</b> APERTURA PLANO</li>
                <li><b>4x12</b> APERTURA INCLINADO</li>
                <li><b>4x15</b> FLEXIONES lo más cerca del fallo</li>
            </ul>
        </li>
        <li>
            <strong>Dia 3: Espalda</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li>Calentamiento previo multiarticular</li>
                <li><b>4x12</b> JALON AL PECHO</li>
                <li><b>4x12</b> REMO SENTADO O BAJO</li>
                <li><b>4x12</b> REMO POTRO</li>
                <li><b>4x15</b> REMO UNILATERAL POLEA O MANCUERNAS</li>
                <li><b>4x12</b> REMO CON BARRA</li>
            </ul>
        </li>
        <li>
            <strong>Dia 4: Hombros</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>4x15</b> PRESS TIPO MILITAR CON BARRA</li>
                <li><b>4x15</b> VUELOS LATERALES</li>
                <li><b>4x15</b> ELEVACION FRONTAL</li>
                <li><b>4x15</b> POSTERIOR CON MANCUERNAS</li>
                <li><b>4x15</b> VUELOS UNILATERALES</li>
                <li><b>4x15</b> ENCOGIMIENTOS CON BARRA</li>
            </ul>
        </li>
        <li>
            <strong>Dia 5: Biceps/Triceps</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>4x15</b> ALTERNADOS CON MANCUERNAS</li>
                <li><b>4x15</b> CURL DE BARRA</li>
                <li><b>4x15</b> CURL EN BANCO SCOTT</li>
                <li><b>4x15</b> CURL EN POLEA CON BARRA INVERTIDA</li>
                <li><strong>Tríceps:</strong></li>
                <li><b>4x15</b> JALON EN POLEA CON V</li>
                <li><b>4x15</b> TRASNUCA CON MANCUERNA</li>
                <li><b>4x15</b> PRESS FRANCÉS A LA FRENTE</li>
                <li><b>4x15</b> FONDOS</li>
                <li>Trabajar con poca carga y descansos de <b>1 min</b></li>
            </ul>
        </li>
        <li>
            <strong>Dia 6: Abdominales</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>4x20</b> EN BANCO DECLINADO</li>
                <li><b>4x20</b> ELEVACION DE PIERNAS</li>
                <li><b>4x20</b> RUEDA ABDOMINAL</li>
                <li><b>4x20</b> CRUNCHS EN COLCHONETA</li>
            </ul>
        </li>
    </ul>

    <p class="mt-4" style="font-weight: 600;">Brandan Pablo Gonzalo.</p>
    <br>
    <DownloadMenu/>
</section>