---

import DownloadMenu from "@/routines/downloadMenu.astro"


---
<style>
    @import url('../css/style.css');
 </style>


<section class="max-w-2xl mx-auto" style="border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md">

    <h2 class="text-2xl font-bold mb-4">Rutina para MUJERES: 5 DIAS:</h2>
    
    <ul class="space-y-4"  style="text-align: justify;">
        <li>
            <strong>Día 1: Cuádriceps y Femorales</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4X15)</b> SILLÓN O PENDULAR.</li>
                <li><b>(4X15)</b> PRENSA 45.</li>
                <li><b>(4X15)</b> PESO MUERTO.</li>
                <li><b>(4X15)</b> EXTENSIÓN FEMORALES EN CAMILLA.</li>
                <li><b>(4X15)</b> ESTOCADAS.</li>
                <li><b>(4X15)</b> PANTORRILLAS EN MÁQUINA.</li>
            </ul>
        </li>
        <li>
            <strong>Día 2: Espalda/Hombros</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4X15)</b> JALÓN AL MENTÓN.</li>
                <li><b>(4X15)</b> REMO BAJO EN POLEA.</li>
                <li><b>(4X15)</b> REMO BAJO CON MANCUERNAS.</li>
                <li><b>(4X15)</b> REMO CON BARRA.</li>
                <li><strong>Hombros:</strong></li>
                <li><b>(4X15)</b> PRESS CON MANCUERNAS.</li>
                <li><b>(4X15)</b> VUELOS LATERALES.</li>
                <li><b>(4X15)</b> ELEVACIÓN FRONTAL CON MANCUERNAS.</li>
                <li><b>(4X15)</b> POSTERIOR CON MANCUERNAS O POLEA A ELECCIÓN.</li>
            </ul>
        </li>
        <li>
            <strong>Día 3: Glúteos y Aductores</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4X15)</b> SENTADILLAS PROFUNDAS.</li>
                <li><b>(4X15)</b> PATADA EN POLEA.</li>
                <li><b>(4X15)</b> PRENSA PISADA ANCHA.</li>
                <li><b>(4X15)</b> SENTADILLAS SUMO.</li>
                <li><b>(4X15)</b> PANTORRILLAS EN MÁQUINA.</li>
            </ul>
        </li>
        <li>
            <strong>Día 4: Pecho / Tríceps y Bíceps</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4X15)</b> PRESS PLANO CON MANCUERNAS.</li>
                <li><b>(4X15)</b> PRESS INCLINADO CON MANCUERNAS.</li>
                <li><b>(4X15)</b> JALÓN EN POLEA CON V.</li>
                <li><b>(4X15)</b> PATADA DE TRÍCEPS CON MANCUERNAS.</li>
                <li><b>(4X15)</b> ALTERNADOS CON MANCUERNAS.</li>
                <li><b>(4X15)</b> CURL CON BARRA W O RECTA.</li>
            </ul>
        </li>
        <li>
            <strong>Día 5: Glúteos</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4X15)</b> SENTADILLAS BÚLGARAS CON CARGA.</li>
                <li><b>(4X15)</b> ELEVACIÓN DE PELVIS.</li>
                <li><b>(4X15)</b> PATADA EN POLEA.</li>
                <li><b>(4X15)</b> EXTENSIÓN DE CADERA EN BANCO LUMBAR.</li>
                <li><b>(4X15)</b> SENTADILLAS SIN PESO EXPLOSIVAS.</li>
                <li><b>(4X15)</b> PANTORRILLAS EN MÁQUINA.</li>
            </ul>
        </li>
    </ul>

    <p class="mt-4" style="font-weight: 600;">REDUCIR LOS TIEMPOS DE DESCANSO A 40 SEGUNDOS / AUMENTAR LA CARGA DE FORMA PROGRESIVA.</p>

    <p class="mt-4" style="font-weight: 600;">Brandan Pablo Gonzalo.</p>
    <br>
    <DownloadMenu/>
    </section>