---
import DownloadMenu from "@/routines/downloadMenu.astro"
---
<style>@import url('../css/style.css');</style>

<section class="max-w-2xl mx-auto" style="border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md" id="makepdf">
    <h2 class="text-2xl font-bold mb-4">RUTINA FRECUENCIA X 3 DE PIERNAS:</h2>
    
    <ul class="space-y-4"  style="text-align: justify;">
        <li>
            <strong>Día 1: Piernas</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4x15)</b> Sentadilla libre.</li>
                <li><b>(4x15)</b> Sentadilla Hack.</li>
                <li><b>15/12/10/8</b> Prensa 45° aumentando carga.</li>
                <li><b>(4x15)</b> Sillón de cuádriceps.</li>
                <li><b>(4x15)</b> Estocadas.</li>
                <li><b>4x fallo</b> Sissy.</li>
                <li><b>(4x20)</b> Pantorrilla en máquina.</li>
            </ul>
        </li>
        <li>
            <strong>Día 2: Pecho y Hombros</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4x12)</b> Press con barra o mancuernas.</li>
                <li><b>(4x15)</b> Apertura banco plano.</li>
                <li><b>(4x12)</b> Press inclinado con barra o mancuernas.</li>
                <li><b>(4x15)</b> Press militar en máquina.</li>
                <li><b>(4x15)</b> Vuelos laterales.</li>
                <li><b>(4x15)</b> Jalón posterior con cuerda.</li>
            </ul>
        </li>
        <li>
            <strong>Día 3: Femorales y Glúteos</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4x15)</b> Peso muerto.</li>
                <li><b>(4x12)</b> + <b>(4x12)</b> Camilla con peso muerto con mancuernas.</li>
                <li><b>(4x15)</b> Patada.</li>
                <li><b>(15/12/10)</b> Elevación de cadera aumentando carga.</li>
                <li><b>(4x15)</b> Abducción en multicadera.</li>
                <li><b>(4x15)</b> Sentadilla sumo.</li>
            </ul>
        </li>
        <li>
            <strong>Día 4: Espalda / Bíceps / Tríceps</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4x15)</b> Jalón al mentón.</li>
                <li><b>(4x15)</b> Remo bajo polea.</li>
                <li><b>(4x15)</b> Remo con barra.</li>
                <li><b>(4x15)</b> Remo con mancuernas.</li>
                <li><b>(4x15)</b> Alternado con mancuernass.</li>
                <li><b>(4x15)</b> Concentrado unilateral.</li>
                <li><b>(4x15)</b> Jalón con cuerda.</li>
                <li><b>(4x15)</b> Trasnuca con disco o mancuernass.</li>
            </ul>
        </li>
        <li>
            <strong>Día 5: Piernas x2</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4x15)</b> Sentadilla libre.</li>
                <li><b>(4x15)</b> Camilla de femorales lentas y controladas.</li>
                <li><b>(4x15)</b> Sillón de cuádriceps.</li>
                <li><b>(4x15)</b> Sentadilla sumo.</li>
                <li><b>(4x15)</b> Estocadas posterior.</li>
                <li><b>(4x15)</b> Peso muerto convencional.</li>
                <li><b>(4x20)</b> Pantorrilla.</li>
            </ul>
        </li>
    </ul>
<p class="mt-4" style="font-weight: 600;">Profe: Nicole.</p>
<br>
<DownloadMenu/>
</section>