---

import DownloadMenu from "@/routines/downloadMenu.astro"


---
<style>
    @import url('../css/style.css');
 </style>

<section class="max-w-2xl mx-auto" style="border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md">

    <h2 class="text-2xl font-bold mb-4">Rutina estándar varones modificada (25/06)</h2>
    
    <ul class="space-y-4"  style="text-align: justify;">
        <li>
            <strong>Día 1: Pecho y tríceps</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4x15)</b> Press plano con barra.</li>
                <li><b>(4x15)</b> Press inclinado con mancuernas.</li>
                <li><b>(4x15)</b> Apertura plano con mancuernas.</li>
                <li><b>(4x15)</b> Flexiones de brazos (cerca del fallo).</li>
                <li><b>(4x15)</b> Tríceps polea alta con V.</li>
                <li><b>(4x15)</b> Tríceps polea con estribos.</li>
                <li><b>(4x15)</b> Extensión tras nuca con mancuerna (últimas dos series llegar al fallo).</li>
            </ul>
        </li>
        <li>
            <strong>Día 2: Cuádriceps, femorales y pantorrilla</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4x15)</b> Sentadilla libre.</li>
                <li><b>(4x15)</b> Sentadilla Hack.</li>
                <li><b>(4x30)</b> Estocadas.</li>
                <li><b>(4x15)</b> Sillón de cuádriceps (drop set en las últimas dos series).</li>
                <li><b>(4x15)</b> Sissy.</li>
                <li><b>(4x15)</b> Camilla de femorales.</li>
                <li><b>(4x20)</b> Pantorrilla en máquina.</li>
            </ul>
        </li>
        <li>
            <strong>Día 3: Espalda y bíceps</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4x15)</b> Jalón al pecho.</li>
                <li><b>(4x12)</b> Remo potro.</li>
                <li><b>(4x10)</b> Remo con mancuerna.</li>
                <li><b>(4x15)</b> Remo cerrado en polea baja.</li>
                <li><b>(4x20)</b> Curl de bíceps con barra.</li>
                <li><b>(4 series)</b> Curl 21 en polea.</li>
                <li><b>(4x15)</b> Bíceps concentrado.</li>
            </ul>
        </li>
        <li>
            <strong>Día 4: Femorales y glúteos</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4x10)</b> Peso muerto con barra.</li>
                <li><b>(4x15)</b> Hip thrust.</li>
                <li><b>(4x15)</b> Camilla de femorales.</li>
                <li><b>(4x15)</b> Sentadilla sumo.</li>
                <li><b>(4x16)</b> Pasos estocadas posteriores.</li>
                <li><b>(4x15)</b> Abducción en máquina.</li>
            </ul>
        </li>
        <li>
            <strong>Día 5: Hombros</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(4x15)</b> Press militar en máquina.</li>
                <li><b>(4x15)</b> Vuelos laterales con mancuerna.</li>
                <li><b>(4x16)</b> Elevaciones frontales alternadas con mancuernas.</li>
                <li><b>(4x12)</b> Remo al mentón con barra.</li>
                <li><b>(4x15)</b> Encogimientos de hombros.</li>
                <li><b>(4x15)</b> Posteriores con cuerda.</li>
            </ul>
        </li>
        <li>
            <strong>Día 6: Entrenamiento libre a elección.</strong>
            <p>Descanso activo o sesión de entrenamiento a elección del usuario.</p>
        </li>
    </ul>

    <p class="mt-4" style="font-weight: 600;">Profe Ulises.</p>
<br>
<DownloadMenu/>
</section>