---
import DownloadMenu from "@/routines/downloadMenu.astro"
---
<style>@import url('../css/style.css');</style>
<section class="max-w-2xl mx-auto" style="border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md" id="makepdf">
    <h2 class="text-2xl font-bold mb-4">Rutina adaptada: HEAVY DUTY // HOMBRES</h2>
    
    <ul class="space-y-4"  style="text-align: justify;">
        <li>
            <strong>DÍA 1: PECHO</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li>Press plano c/ mancuernas  <b>(15)</b> press  <b>(15)</b> apertura <b>(15)</b> empuje reps sin descanso <b>X2.</b></li>
                <li>Press inclinado c/ mancuernas <b>(15)</b> press  <b>(15)</b> apertura <b>(15)</b> ampuje reps sin descanso <b>X2.</b></li>
                <li>Flexiones al piso  <b>(15)</b> cerradas  <b>(15)</b> distancia de hombros  <b>(15)</b> abiertas sin descanso <b>X2.</b></li>
                <li>Crucés en polea <b>(4x18).</b></li>
                <li>Crucés de pectoral bajo con mancuernas <b>(4x18).</b></li>
            </ul>
        </li>
        <li>
            <strong>DÍA 2: PIERNAS</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><b>(15 min)</b> de calentamiento previo en bici o saltos con cuerda.</li>
                <li>Sillón <b>(15)</b> repeticiones a dos piernas <b>(15)</b> repeticiones individuales <b>X3.</b></li>
                <li>Sentadillas frontales con barra <b>(15)</b> reps <b>(X6)</b> series descansos de <b>(15 seg).</b></li>
                <li>Prensa <b>(15)</b> pisada cerrada  <b>(15)</b> pisada abierta <b>(15)</b> pisada cerrada talones juntos <b>(X3).</b></li>
                <li>Búlgaras <b>(5x20)</b> con carga.</li>
                <li>Sissy <b>(3x)</b> fallo muscular.</li>
            </ul>
        </li>
        <li>
            <strong>DÍA 3: ESPALDA</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li>Jalón al mentón <b>(15)</b> al frente <b>(15)</b> invertido + <b>(15)</b> invertido cerrado <b>(X4)</b> series.</li>
                <li>Remo bajo <b>(15)</b> + <b>(15)</b> individuales + <b>(15)</b> individuales con mancuernas <b>(X3)</b> series.</li>
                <li>Remo con barra <b>W o RECTA</b>  <b>(4x15)</b> con carga y lentas.</li>
                <li>Extensiones en polea <b>(4x18).</b></li>
                <li>Dominadas<b>(4x10).</b></li>
            </ul>
        </li>
        <li>
            <strong>DÍA 4: HOMBROS</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li>Press militar con barra</b> <b>(15)</b>  Press Arnold <b>(15)</b> / Press mancuernas <b>(15)</b> seguidas <b>X3.</b></li>
                <li>Vuelos laterales <b>(15)</b> juntos  <b>(20)</b> individuales <b>X4.</b></li>
                <li>Elevación frontal <b>(15)</b> con barra <b>(15)</b> con disco <b>(15)</b> con mancuernas <b>X2.</b></li>
                <li>Posterior en polea <b>(4x20)</b> con carga</li>
                <li>Encogimientos con barra o mancuernas <b>(4x15)</b> pesados</li>
            </ul>
        </li>
        <li>
            <strong>DÍA 5: TRÍCEPS Y BÍCEPS</strong>
            <ul class="list-disc ml-6 space-y-1">
                <li><strong>TRÍCEPS:</strong></li>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Jalón con cuerda <b>(15)</b> Trasnuca con cuerda <b>(15)</b> Individual <b>(15)</b> <b>X3.</b></li>
                    <li>Trasnuca con mancuerna <b>(4x18).</b></li>
                    <li>Fondos en banco <b>3x<b/> fallo muscular.</li>
                </ul>
                <li><strong>BÍCEPS:</strong></li>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Alternados con mancuernas <b>(4x15).</b></li>
                    <li>Curl con barra <b>W (15)</b> abiertos <b>(15)</b> cerrados <b>(15)</b> cerrados codos sobre cuerpo <b>X3.</b></li>
                    <li>Curl con barra <b>(3 series)</b> X fallo muscular.</li>
                </ul>
            </ul>
        </li>
    </ul>
<p class="mt-4" style="font-weight: 600;">Profe Ulises.</p>
<br>
<DownloadMenu/>
</section>