---

import DownloadMenu from "@/routines/downloadMenu.astro"


---
<style>
    @import url('../css/style.css');
 </style>

<section class="max-w-2xl mx-auto" style=" border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md">

    <h2 class="text-2xl font-bold mb-4">RUTINA AVANZADA MUJERES:</h2>
        
        <ul class="space-y-4"  style="text-align: justify;">
            <li>
                <strong>DÍA 1: CUADRICEPS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Sillón + Sentadillas Sissy <b>(12)</b> de cada una sin descanso <b>(4 series).</b></li>
                    <li>Prensa centrada + sentadillas frontales <b>(12 x 4 series).</b></li>
                    <li>Estocadas cortas caminando <b>(30 pasos x 3 vueltas).</b></li>
                    <li>Búlgaras <b>(15)</b> repeticiones con carga <b>(4 series).</b></li>
                    <li>Pantorrillas pesadas <b>(4x15).</b></li>
                </ul>
            </li>
            <li>
                <strong>DÍA 2: PECHO/HOMBROS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Press plano con barra <b>(4x20).</b></li>
                    <li>Press militar con barra <b>(4x20).</b></li>
                    <li>Apertura plano<b>(4x15).</b></li>
                    <li>Vuelos laterales <b>(4x15).</b></li>
                    <li>Press inclinado con barra <b>(4x15).</b></li>
                    <li>Flexiones<b>(4x20).</b></li>
                </ul>
            </li>
            <li>
                <strong>DÍA 3: FEMORALES/ISQUIOS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Camilla + peso muerto c/mancuernas <b>(4 series x 15 reps).</b></li>
                    <li>Prensa pisada alta + pendular <b>(4 series x 15 reps).</b></li>
                    <li>Hack pisada amplia + sumo <b>(4 x 15 reps).</b></li>
                    <li>Estocadas largas caminando <b>(30 pasos x 3 vueltas).</b></li>
                    <li>Pantorrillas <b>(4 x 8)</b> muy pesadas.</li>
                </ul>
            </li>
            <li>
                <strong>DÍA 4: ESPALDA/TRÍCEPS/BÍCEPS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Jalón al pecho <b>(4x15 reps).</b></li>
                    <li>Trasnuca con disco o mancuerna <b>(4x15).</b></li>
                    <li>Remo bajo <b>(4x15).</b></li>
                    <li>Alternados con mancuernas <b>(4x15).</b></li>
                    <li>Remo unilateral en polea <b>(4x15).</b></li>
                    <li>Jalón con V <b>(4x15).</b></li>
                </ul>
            </li>
            <li>
                <strong>DÍA 5: GLÚTEOS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li>Elevación de pelvis en máquina <b>(4) series de (15)</b> bajadas lentas <b>(5 segundos / 3)</b> contracción.</li>
                    <li>Pendular profunda + Sumo <b>(4 x 15)</b> con carga alta.</li>
                    <li>Sentadillas profundas + peso muerto con mancuernas <b>(4 x 15)</b> pesadas.</li>
                    <li>Sentadillas sin peso explosivas con salto <b>(3 x 20).</b></li>
                    <li>Pantorrillas <b>(4x10)</b> pesadas.</li>
                </ul>
            </li>
        </ul>
<br>
<DownloadMenu/>
    </section>
