---

import DownloadMenu from "@/routines/downloadMenu.astro"


---


<section class="max-w-2xl mx-auto" style="background-color: wheat; border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md">

    <h2 class="text-2xl font-bold mb-4">RUTINA AVANZADA MUJERES</h2>
        
        <ul class="space-y-4"  style="text-align: justify;">
            <li>
                <strong>DIA 1: CUADRICEPS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>Sillón</b> más <b>sentadilla Sisi</b> <b>12</b> de cada una sin descanso <b>4 series</b></li>
                    <li><b>Prensa centrada</b> más <b>sentadillas frontales</b> <b>12 x 4 series</b></li>
                    <li><b>Estocadas cortas caminando</b> 30 pasos x 3 vueltas</li>
                    <li><b>Búlgaras</b> <b>15</b> repeticiones con carga <b>4 series</b></li>
                    <li><b>Pantorrillas</b> <b>4x15</b> pesadas</li>
                </ul>
            </li>
            <li>
                <strong>DIA 2: PECHO/HOMBROS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>Press plano con barra</b> <b>4x20</b></li>
                    <li><b>Press militar con barra</b> <b>4x20</b></li>
                    <li><b>Apertura plano</b> <b>4x15</b></li>
                    <li><b>Vuelos laterales</b> <b>4x15</b></li>
                    <li><b>Press inclinado con barra</b> <b>4x15</b></li>
                    <li><b>Flexiones</b> <b>4x20</b></li>
                </ul>
            </li>
            <li>
                <strong>DIA 3: FEMORALES/ISQUIOS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>Camilla</b> más <b>peso muerto c/mancuernas</b> <b>4 series x 15 reps</b></li>
                    <li><b>Prensa pisada alta</b> más <b>pendular</b> <b>4 series x 15 reps</b></li>
                    <li><b>Hack pisada amplia</b> más <b>zumo</b> <b>4 x 15 reps</b></li>
                    <li><b>Estocadas largas caminando</b> 30 pasos x 3 vueltas</li>
                    <li><b>Pantorrillas</b> <b>4 x 8</b> bien pesadas</li>
                </ul>
            </li>
            <li>
                <strong>DIA 4: ESPALDA/TRÍCEPS/BÍCEPS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>Jalón al pecho</b> <b>4x15 reps</b></li>
                    <li><b>Trasnuca con disco o mancuerna</b> <b>4x15</b></li>
                    <li><b>Remo bajo</b> <b>4x15</b></li>
                    <li><b>Alternados con mancuernas</b> <b>4x15</b></li>
                    <li><b>Remo unilateral en polea</b> <b>4x15</b></li>
                    <li><b>Jalón con V</b> <b>4x15</b></li>
                </ul>
            </li>
            <li>
                <strong>DIA 5: GLÚTEOS</strong>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>Elevación de pelvis en máquina</b> <b>4 series de 15</b> bajadas lentas 5 segundos / 3 contracción</li>
                    <li><b>Pendular profunda más zumo</b> <b>4 x 15</b> con carga alta</li>
                    <li><b>Sentadillas profundas más peso muerto con mancuernas</b> <b>4 x 15</b> pesadas</li>
                    <li><b>Sentadillas sin peso explosivas con salto</b> <b>3 x 20</b></li>
                    <li><b>Pantorrillas</b> <b>4x10</b> pesadas</li>
                </ul>
            </li>
        </ul>
<br>
<DownloadMenu/>
    </section>
