---
import DownloadMenu from "@/routines/downloadMenu.astro"
---
<style>@import url('../css/style.css');</style>

<section class="max-w-2xl mx-auto" style="border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md" id="makepdf">
        <h2 class="text-2xl font-extrabold mb-4 mt-4"><strong>Rutina Hipertrofia Mujeres</strong></h2>   
        <p class="mb-4 border-l"><strong>Observaciones:</strong></p>
        
        <div class="space-y-4" style="text-align: justify;">
            <div>
                <strong>Día 1:</strong><br>
                <strong>Calentamiento previo a elección.</strong><br>
                <strong>Carga al <b>(70%)</b></strong><br><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li><strong>Cuádriceps y Pantorrillas.</strong></li>
                    <li><b>(4x12)</b> Sillón.</li>
                    <li><b>(4x12)</b> Prensa.</li>
                    <li><b>(4x12)</b> Sentadilla Frontal.</li>
                    <li><b>(4x12)</b> Hack.</li>
                    <li><b>(4x12)</b> Pantorrilla Parado.</li>
                    <li><b>(4x12)</b> Pantorrilla Sentado.</li>
                </ul>
            </div>

            <div>
                <strong>Día 2:</strong><br>
                <strong>Pecho / Espalda.</strong><br>
                <strong>Observaciones:</strong><br><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>(4x18)</b> Press Plano - Carga al <b>(70%)</b>.</li>
                    <li><b>(4x18)</b> Press Inclinado - Fases excéntricas y concéntricas controladas y fluidas.</li>
                    <li><b>(4x18)</b> Apertura Inclinado - Descansos de <b>(40 segundos)</b>.</li>
                    <li><b>(4x18)</b> Jalón al Mentón.</li>
                    <li><b>(4x18)</b> Remo en Polea Baja.</li>
                    <li><b>(4x18)</b> Remo Individual con Mancuernas.</li>
                </ul>
            </div>

            <div>
                <strong>Día 3:</strong><br>
                <strong>Femorales / Glúteos.</strong><br>
                <strong>Observaciones:</strong><br><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>(4x12)</b> Camilla - Carga al <b>(70%)</b>.</li>
                    <li><b>(4x12)</b> Sentadilla Zumo - <b>(3 seg x 3 seg)</b>.</li>
                    <li><b>(4x12)</b> Estocadas - Descanso <b><b>(1 min)</b></b> entre series.</li>
                    <li><b>(4x12)</b> Sentadillas Convencionales.</li>
                    <li><b>(4x12)</b> Patada en Polea.</li>
                </ul>
            </div>

            <div>
                <strong>Día 4:</strong><br>
                <strong>Hombros / Bíceps / Tríceps.</strong><br>
                <strong>Observaciones:</strong><br><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>(4x18)</b> Press Militar - Carga al <b>(70%)</b>.</li>
                    <li><b>(4x18)</b> Vuelos Laterales - Fases excéntricas y concéntricas controladas y fluidas.</li>
                    <li><b>(4x18)</b> Alternados con Mancuernas - Descansos de <b>(40 segundos)</b>.</li>
                    <li><b>(4x18)</b> Curl con Barra.</li>
                    <li><b>(4x18)</b> Jalón en Polea con V.</li>
                    <li><b>(4x18)</b> Trasnuca con Mancuernas o Disco.</li>
                </ul>
            </div>

            <div>
                <strong>Día 5:</strong><br>
                <strong>Cuádriceps / Isquios.</strong><br>
                <strong>Observaciones:</strong><br><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>(4x12)</b> Sillón - Carga al <b>(70%)</b>.</li>
                    <li><b>(4x12)</b> Camilla - <b>(3 seg x 3 seg)</b>.</li>
                    <li><b>(4x12)</b> Prensa - Descansos <b><b>(1 min)</b></b>.</li>
                    <li><b>(4x12)</b> Peso Muerto.</li>
                    <li><b>(4x12)</b> Extensión Femoral o Buenos Días.</li>
                    <li><b>(4x12)</b> Pantorrillas en Máquina.</li>
                </ul>
            </div>

            <div>
                <strong>Día 6:</strong><br>
                <strong>Abs + Cardio.</strong><br>
                <strong>Observaciones:</strong><br><br>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>(4x20)</b> Elevación de Piernas - Trabajar todo sin peso.</li>
                    <li><b>(4x20)</b> Banco Inclinado.</li>
                    <li><b>(4x20)</b> Intercostales.</li>
                    <li><b>(4x20)</b> Crunchs.</li>
                    <li><b>(20 min)</b> de cardio a elección (bici, caminadora, corredora, saltos con cuerda).</li>
                </ul>
            </div>
        </div>

        <p class="mt-4 mb-4" style="font-weight: 600;">Brandan Pablo Gonzalo.</p>
        <!-- Aquí puedes agregar tu componente o enlace para descargar el menú -->
        <DownloadMenu/>
    </section>
</section>
