---
import DownloadMenu from "@/routines/downloadMenu.astro"

---
<style>@import url('../css/style.css');</style>

<section class="max-w-2xl mx-auto" style="border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md" id="makepdf">
        <h1 class="text-2xl font-extrabold mb-4 mt-4">GUÍA BÁSICA PARA BAJAR DE PESO:</h1>
        <p class="mb-4 " style="text-align: justify;">Primero que nada, debemos entender la nutrición de una persona como un proceso individual lleno de factores que pueden alterar sus necesidades de energía y alimento. ¿Qué quiere decir esto? Las necesidades de una persona son totalmente diferentes a las de otra. Además, sus objetivos y el punto de partida son individuales. Las siguientes recomendaciones están dirigidas a un público en general y deben entenderse de forma orientativa. Si necesitan definir su estado físico y nutricional para plantear objetivos concretos y un plan de acción, siempre se recomienda un trabajo personalizado asistido por un profesional de confianza.</p>
        <p class="mb-4" style="text-align: justify;">Sin más preámbulos.</p>
        <p class="mb-4" style="text-align: justify;">Vamos a dividir básicamente dos objetivos que son los más recurrentes al momento de ir a un gimnasio y vamos a centrarnos en eso dando pautas básicas para poder ayudarte a obtener tus resultados.</p>
        <br>
        <ol class="space-y-4 pl-5" style="text-align: justify;">
            <li>
                <strong>1) Bajar de peso / reducir el % de grasa:</strong>
                <p>Debemos entender que el peso no siempre es un indicador de la cantidad de grasa que tiene una persona (sucede en los deportistas donde tenemos un peso superior promedio, pero tenemos un bajo tenor graso). Generalmente un cuerpo “estético” por así llamarlo, no depende tanto del peso, sino de un bajo % graso.</p>
                <p>La grasa corporal no se transpira, no se quema, etc… son términos comúnmente usados que no tienen nada que ver con su proceso metabólico. La grasa corporal SE OXIDA y para esto son necesarios 2 factores fundamentales:</p>
                <br>
                <ul class="list-disc ml-6 space-y-1">
                    <li><b>UN DÉFICIT CALÓRICO:</b> es decir que la cantidad de energía que ingresa a nuestro cuerpo sea inferior a la que el cuerpo necesita (en su situación actual, cada persona tiene un requerimiento calórico distinto). Esto puede ser solucionado de varias maneras: disminuir el volumen de platos, bajar las ingestas, aumentar el consumo de platos hipocalóricos, mejorar la calidad de nuestros macros en la dieta, etc.</li>
                    <br>
                    <li><b>REALIZAR EJERCICIO DE FUERZA:</b>  el proceso oxidativo de las grasas es mayor durante el ejercicio de fuerza, en algún momento se creía que lo óptimo para disminuir la grasa era el ejercicio cardiovascular (el cual también es beneficioso para aumentar nuestro gasto calórico) pero hoy se sabe que someter el cuerpo a periodos de entre 40 minutos y 1 hora de ejercicio de fuerza es lo óptimo para estimular este proceso metabólico. Los parámetros de trabajo que mejor resultado dan en este proceso son los llamados parámetros de “hipertrofia muscular” donde se logra un crecimiento del músculo tanto sarcomérico como sarcoplasmático.</li>
                </ul>
            </li>
        </ol>
    
    <p class="mt-4 mb-4" style="font-weight:600; text-align: justify;">Recuerda que a estos consejos son orientativos y siempre es recomendable buscar asesoramiento personalizado de un profesional de confianza para definir mejor tu plan alimenticio y de entrenamiento.</p>
    <p class="mt-4 mb-4" style="font-weight:600">AGUSTIN PIVA.</p>
<DownloadMenu/>
</section>

