---
import DownloadMenu from "@/routines/downloadMenu.astro"

---
<style>@import url('../css/style.css');</style>

<section class="max-w-2xl mx-auto" style=" border-radius: 8px;">
    <section class="max-w-2xl mx-auto bg-wheat p-4 rounded-md" id="makepdf">
        <h1 class="text-2xl font-extrabold mb-4 mt-4">GUÍA BÁSICA DE ALIMENTACIÓN EN EL GYM:</h1>

        <p class="mb-4 " style="text-align: justify;">Primero que nada, debemos entender la nutrición de una persona como un proceso individual lleno de factores que pueden alterar sus necesidades de energía y alimento. ¿Qué quiere decir esto? Las necesidades de una persona son totalmente diferentes a las de otra. Además, sus objetivos y el punto de partida son individuales. Las siguientes recomendaciones están dirigidas a un público en general y deben entenderse de forma orientativa. Si necesitan definir su estado físico y nutricional para plantear objetivos concretos y un plan de acción, siempre se recomienda un trabajo personalizado asistido por un profesional de confianza.</p>
    
        <p class="mb-4" style="text-align: justify;">Sin más preámbulos.</p>
    
        <p class="mb-4" style="text-align: justify;">Vamos a dividir básicamente en objetivos que son los más recurrentes al momento de ir a un gimnasio y vamos a centrarnos en eso dando pautas básicas para poder ayudarte a obtener tus resultados.</p>
    
        <h2 style="text-align:left;"><b>2) AUMENTO DE MASA MUSCULAR:</b></h2>
    
        <p class="mb-4" style="text-align: justify;">En el proceso de crecimiento muscular intervienen muchos factores los cuales deben estar bien planificados, desde la alimentación hasta el entrenamiento deben tener una estructura bien organizada y además una periodicidad. Es muy distinto un proceso de volumen magro (aumento de masa muscular tratando de ganar la menor cantidad de grasa posible) que el proceso de volumen sucio (donde no importa tanto el tenor graso obtenido) es clave definir bien tus objetivos y además diagramar bien como llegar a ellos. Una buena alimentación sin el ejercicio adecuado a ella no es suficiente, un ejercicio de intensidad que no está acompañado de la alimentación adecuada es totalmente ineficiente. Vamos a ver los dos principales parámetros de este proceso:</p>
    
        <ol class="space-y-4 pl-5" style="text-align: justify;">
            <li>
                <strong>UN SUPERÁVIT CALÓRICO:</strong> En este caso el volumen de calorías que ingresan al cuerpo deben ser superiores a las que el organismo necesita, debemos crear un excedente de energía para que el cuerpo pueda con ella destruir tejidos durante los entrenamientos que luego serán regenerados.
            </li>
            <li>
                <strong>EL REQUERIMIENTO PROTEICO DIARIO:</strong> Todos los macronutrientes son indispensables para el aumento de masa muscular sin embargo las proteínas juegan un rol fundamental un organismo que no cumple con su requerimiento proteico diario no cuenta con los materiales de construcción necesarios para lograr esa hipertrofia muscular que tanto buscamos. Los autores varían mucho sobre el requerimiento proteico adecuado. En experiencia personal entre 1,3g y 1,8g por kilogramo de peso por día son suficientes para ver buenos resultados, en casos más puntuales necesitamos hasta 2 gramos.
            </li>
        
    
        <p class="space-y-4 pl-5" style="text-align: justify;">Aquí debajo te dejo el contenido proteico de algunos alimentos de AVB para que sepas cuantos gramos de proteína y cuantas kcal hay en 100g de determinados alimentos. Las proteínas de BVB también juegan un rol importante dentro de nuestra alimentación, pero ese ya es un tema más delicado.</p>
        <br>
        <ul class="list-disc ml-6 space-y-1" style="text-align: justify;">
            <li>Atún: 36 g de proteína (132 kcal)</li>
            <li>Pollo: 28 g de proteína (130 kcal)</li>
            <li>Carne: 25 g de proteína (180 kcal)</li>
            <li>Pescados: 20 g de proteína (98 kcal)</li>
            <li>Huevo: 8-12 g de proteína (99 kcal)</li>
            <li>Queso descremado: 11 g de proteína (120 kcal)</li>
            <li>Lentejas: 9 g de proteína (130 kcal)</li>
        </ul>
    
        <p>Por último:</p>
    
        <p>Es muy importante comenzar a interiorizarse sobre alimentación y entrenamiento, como uno entrena y sus necesidades no es una responsabilidad de un coach, es responsabilidad de uno mismo. Uno debe ir reconociendo que ejercicio le conviene más, como diagramar su rutina, como diagramar su día de entrenamiento, etc. Esto es fundamental para ver un resultado óptimo.</p>
    
        <p>Con la alimentación pasa exactamente lo mismo, se debe probar, se debe adaptar y además hacer chequeos periódicamente para diagramar un plan de acción. No se trata de definir un déficit o un superávit y darle para adelante, es necesario ir chequeando para evitar perder masa muscular o ganar masa grasa e ir realizando alteraciones en la forma de comer para lograr un objetivo óptimo. También darle a nuestro organismo las herramientas necesarias pre y post entreno para optimizar los mismos, el uso de suplementación no siempre es necesaria, pero en algunos casos es de mucha ayuda, esta también debe ser óptima y diagramada por un profesional primero para no tener algún efecto perjudicial y segundo para que no sea un desperdicio de tiempo/económico.</p>
    
        <h2>Les dejo algunas ideas de colaciones pre y post entreno:</h2>
    
        <p><strong>Pre entreno (1h a 30 min antes de entrenar):</strong> La idea antes de entrenar es siempre brindarle al organismo una pequeña carga de hidratos simples para tener un plus energético para el desarrollo de la actividad física (siempre que sea necesario).</p>
    
        <ul class="list-disc ml-6 space-y-1" style="text-align: justify;">
            <li>Batido frutal (2 frutas y agua).</li>
            <li>Ensalada de fruta.</li>
            <li>Yogurt con cereal preferentemente sin azúcar.</li>
            <li>Frutos secos (20 g).</li>
            <li>2 tostadas acompañadas de mermelada light.</li>
        </ul>
    
        <p><strong>Post entreno (30 min después de entrenar):</strong> Aquí siempre la idea es darle al cuerpo proteínas de alto valor biológico para que el organismo cuente con esos aminoácidos esenciales que lo ayudarán en la regeneración del tejido muscular.</p>
    
        <ul class="list-disc ml-6 space-y-1" style="text-align: justify;">
            <li>Sándwich integral de pollo hervido (60 g) con lechuga y tomate, 3 fetas de jamón y una feta de queso.</li>
            <li>Claras de huevo en la preparación que deseen (la cantidad dependerá de las necesidades y de otros factores en tu composición corporal).</li>
            <li>Licuado de leche descremada.</li>
            <li>Vaso de yogurt descremado con granola.</li>
            <li>Tortilla proteica de huevo y avena (esta es una preparación que generalmente se prepara mal y termina siendo solo un panqueque lleno de hidratos de carbono).</li>
        </ul>
    </ol>
    <br>
        <p class="space-y-4 pl-5" style="text-align: justify;">ADEMÁS RECORDA SIEMPRE: el músculo se reconstruye durante el descanso, de nada sirve entrenar como un animal y comer como una bestia si no dormimos como osos.</p>
        <br>
        <p class="space-y-4 pl-5" style="text-align: justify;">Si vas al gimnasio, a correr, a nadar y a jugar a la pelota el mismo día ninguna fibra muscular se va a agrandar. Si das todo en un entrenamiento, pero estás a las 3 de la mañana despierto jugando con el celular tampoco.</p>
        <br>
        <p class="space-y-4 pl-5" style="text-align: justify;">Si te interesa recibir atención personalizada para optimizar tu entrenamiento o mejorar tu alimentación o simplemente querés llevar un seguimiento durante tu proceso y chequear tu estado nutricional/físico no dudes en pedir un turno.</p>
    
<br>
<DownloadMenu/>
</section>