---

---
<style>
    .bg-gray-50 {
    --tw-bg-opacity: 0;
 }
</style>

<div id="newsletter-banner" class="mb-2 top-0 start-0  flex justify-between p-4  border-b  border-black bg-gray-50 dark:bg-gray-700 dark:border-gray-600">

</div>