<section class="container"> 
    
    <h1 id="guia" style="display:flex;justify-content: center;cursor: pointer;"><img src="../assets/320header.png"></h1>

    <a href="/nutrition-plans/22"><div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle1">
        Guia para bajar de peso.
    </div></a>
    <a href="/nutrition-plans/23"><div class="rectangle bg-gray-300 text-center text-sm  md:text-base lg:text-lg xl:text-xl" id="rectangle1">
        Guía Aumentar masa múscular.
    </div></a>
    <h1 class="tittle2 rounded-[6px]">Rutinas ISSA GYM</h1><!--div id="popup" class="popup">Esta función estará disponible próximamente.</div-->
    <img class="rounded-[7px]" id="guia" src="../assets/foot.png">

</section>

<style>
/* ISSA POWER GYM moviles */
.container {box-sizing: border-box;position: relative;height: 400px;width: 85%;max-width: 800px;
border: 1px solid rgba(0, 0, 0, 0.1);padding: 12px;display: flex;flex-wrap: wrap;
justify-content: center;align-items: center;gap: 25px;
background: #FFFFFF;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 8px;
list-style: none;padding: 0;user-select: none;}

.text-sm {line-height: 1.75rem;}

/* Rectangle 1 */
.rectangle {display: inline-block;box-sizing: border-box;height: 85px;width: 125px;background: #D9D9D9;
border: 2px solid indianred;border-radius: 4px;margin-right: 20px;vertical-align: top;
font-family: 'Roboto', sans-serif;font-size: 16px;text-align: -webkit-center;color: #333333;
text-shadow: 0 0 1px #000;transition: all 0.3s ease;cursor: pointer;}

.rectangle:hover {background: #ffffff;border-color: #a52a2a;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
transform: scale(1.05);color: #000000;cursor: pointer;}

@media only screen and (max-width: 600px) {/*moviles */
.container {max-width: 1024px!important;height: auto;margin-top: 20px!important;}
.title{position: relative;}
.rectangle{ /* fila doble para moviles*/ margin-right: 0px;}
}

@media only screen and (min-width: 601px) {/*tablet / pc */
.container {height: 531px!important;width: 765px!important;gap: 10px!important;max-width: 765px!important;}
}

h1{box-sizing: border-box;width: 85%;height: auto;font-family: 'Inter';font-style: normal;font-weight: 700;font-size: 23px;
line-height: 130%;color: #B14242;border: 1px solid rgba(0, 0, 0, 0.15);text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-align: center;margin:5px;border-bottom: solid;user-select: none;}

.tittle2{border: 3px solid rgba(0, 0, 0, 0.15);font-size: 20px;border: outset;cursor: pointer;pointer-events: auto;}

.popup {display: none;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);padding: 20px;background-color: #fff;
border: 2px solid #a52a2a;border-radius: 8px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);text-align: center;
font-size: 20px;color: #a52a2a;opacity: 0;
animation: fadeInOut 3s forwards;}
@keyframes fadeInOut {0% {opacity: 0;}50% {opacity: 1;}100% {opacity: 0;}}
</style>
<script>document.querySelector('.tittle2')?.addEventListener('click', () => {window.location.href = '/routines'; /* Redirige al enlace deseado */});</script>
<script>document.querySelector('#guia')?.addEventListener('click', () => {window.location.href = '/nutrition-plans';});</script>

<!--script>
 document.querySelector('.tittle2')?.addEventListener('click', () => {
 const popup = document.getElementById('popup');
 popup && (popup.style.display = 'block', setTimeout(() => popup.style.display = 'none', 3000));
 });
</script-->