
<section class="container"> 
    <div class="title">Rutinas ISSA GYM</div>

    <a href="/0"><div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle1">
        Rutinas para iniciados.
    </div></a>

    <a href="/1"> <div class="rectangle bg-gray-300 text-center text-sm  md:text-base lg:text-lg xl:text-xl" id="rectangle2">
        Rutina adaptada para bajar de peso.
    </div></a>

    <a href="/2"> <div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle3">
        Rutina adaptada Ciclismo.
    </div></a>

    <a href="/3"><div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle4">
        Rutina de 5 dias hombres.
    </div></a>

    <a href="/4"> <div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle5">
        Rutina mujeres nueva  5 dias.
    </div></a>

    <a href="/5"> <div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle6">
        Rutina frecuencia x3 piernas Nicole.
    </div></a>

    <a href="/6"> <div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle7">
        Rutina Varones Ulises.
    </div></a>

    <a href="/7"><div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle8">
        HEAVY DUTY.
    </div></a>


    <a href="/8"> <div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle9">
        Rutina mujeres biseries.
    </div></a>

</section>



<style>

/* ISSA POWER GYM moviles */
@media (max-width: 768px) {
.container {
box-sizing: border-box;

position: relative;
width: 430px;
height: 364px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;
left:3px;
}

.title {
/* Rutinas ISSA GYM */

box-sizing: border-box;

position: absolute;
width: 204px;
height: 30px;
left: calc(50% - 204px/2 + 10px);
top: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
/* identical to box height, or 30px */

color: #B14242;

border: 1px solid rgba(0, 0, 0, 0.15);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* Rectangle 1 */
.rectangle {
position: absolute;
width: 100px;
height: 76px;
left: 23px;
top: 63px;
border-radius: 4px;
text-shadow: 0 0 black;
border: 2px solid indianred;
background: #D9D9D9;

}

/* Rectangle 2 */
#rectangle2 {
position: absolute;
width: 100px;
height: 76px;
left: 170px;
top: 63px;

background: #D9D9D9;

}

/* Rectangle 3 */
#rectangle3 {
position: absolute;
width: 100px;
height: 76px;
left: 307px;
top: 63px;

background: #D9D9D9;

}


/* Rectangle 4 */
#rectangle4 {
position: absolute;
width: 100px;
height: 76px;
left: 23px;
top: 164px;

background: #D9D9D9;

}

/* Rectangle 5 */
#rectangle5 {
position: absolute;
width: 100px;
height: 76px;
left: 168px;
top: 164px;

background: #D9D9D9;

}

/* Rectangle 6 */
#rectangle6 {
position: absolute;
width: 100px;
height: 76px;
left: 307px;
top: 164px;

background: #D9D9D9;

}

/* Rectangle 7 */
#rectangle7 {
position: absolute;
width: 100px;
height: 76px;
left: 23px;
top: 265px;

background: #D9D9D9;

}

/* Rectangle 8 */
#rectangle8 {
position: absolute;
width: 100px;
height: 76px;
left: 168px;
top: 265px;

background: #D9D9D9;

}

/* Rectangle 9 */
#rectangle9 {
position: absolute;
width: 100px;
height: 76px;
left: 307px;
top: 265px;

background: #D9D9D9;

}
}
/*iphone 14*/
@media (max-width: 430px) and (min-height: 932px) {
    .container{
        width: 430px;
        left: -2px;
    }}
    /*iphone 12*/
@media (max-width: 390px) and (min-height: 844px) {
    .container{
        width: 420px;
        left: 8px;
    }}
/* z fold 5 */
    @media (max-width: 344px) and (min-height: 882px) {
    .container{
        width: 417px;
        left: 11px;
    }}

@media (min-width: 769px) {
    .container {
box-sizing: border-box;

position: relative;
width: 765px;
height: 390px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;
}

.title {
/* Rutinas ISSA GYM */
box-sizing: border-box;

position: absolute;
width: 204px;
height: 30px;
left: calc(50% - 204px/2 - 15.5px);
top: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
/* identical to box height, or 30px */
color: #B14242;
border: 1px solid rgba(0, 0, 0, 0.15);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Rectangle 1 */
.rectangle {
font-size: 15px;
position: absolute;
width: 119px;
height: 85px;
left: 77px;
top: 78px;
border-radius: 6px;
text-shadow: 0 0 black;
text-shadow: 0 0 black;
border: 2px solid indianred;

background: #D9D9D9;
}

/* Rectangle 9 */
#rectangle9 {
position: absolute;
width: 125px;
height: 85px;
left: 554px;
top: 286px;

background: #D9D9D9;
}

/* Rectangle 8 */
#rectangle8 {
position: absolute;
width: 125px;
height: 85px;
left: 308px;
top: 280px;

background: #D9D9D9;

}
/* Rectangle 7 */
#rectangle7 {
position: absolute;
width: 125px;
height: 85px;
left: 77px;
top: 280px;

background: #D9D9D9;
}

/* Rectangle 6 */
#rectangle6 {
position: absolute;
width: 125px;
height: 85px;
left: 554px;
top: 179px;

background: #D9D9D9;
}

/* Rectangle 5 */
#rectangle5 {
position: absolute;
width: 125px;
height: 85px;
left: 308px;
top: 179px;

background: #D9D9D9;
}

/* Rectangle 4 */
#rectangle4 {
position: absolute;
width: 125px;
height: 85px;
left: 77px;
top: 179px;

background: #D9D9D9;
}

/* Rectangle 3 */
#rectangle3 {
position: absolute;
width: 125px;
height: 85px;
left: 554px;
top: 78px;

background: #D9D9D9;

}

/* Rectangle 2 */
#rectangle2 {
position: absolute;
width: 125px;
height: 85px;
left: 308px;
top: 78px;

background: #D9D9D9;
}

}

</style>