<section class="container"> 
    <h1>Rutinas ISSA GYM</h1>

    <a href="/routines/0"><div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle1">
        Rutinas para iniciados.
    </div></a>

    <a href="/routines/1"> <div class="rectangle bg-gray-300 text-center text-sm  md:text-base lg:text-lg xl:text-xl" id="rectangle1">
        Rutina adaptada para bajar de peso.
    </div></a>

    <a href="/routines/2"> <div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle1">
        Rutina adaptada Ciclismo.
    </div></a>

    <a href="/routines/3"><div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle1">
        Rutina de 5 dias hombres.
    </div></a>

    <a href="/routines/4"> <div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle1">
        Rutina mujeres nueva  5 dias.
    </div></a>

    <a href="/routines/5"> <div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle1">
        Rutina frecuencia x3 piernas Nicole.
    </div></a>

    <a href="/routines/6"> <div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle1">
        Rutina Varones Ulises.
    </div></a>

    <a href="/routines/7"><div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle1">
        HEAVY DUTY.
    </div></a>


    <a href="/routines/8"> <div class="rectangle bg-gray-300 text-center text-sm md:text-base lg:text-lg xl:text-xl" id="rectangle1">
        Rutina mujeres biseries.
    </div></a>


<h1 class="tittle2" >ACCEDE A LA GUÍA DE ALIMENTACIÓN</h1>
<div id="popup" class="popup">Esta función estará disponible próximamente.</div>
</section>



<style>


/* ISSA POWER GYM moviles */

.container {
    box-sizing: border-box;
    position: relative;
    height: 400px;
    width: 85%;
    max-width: 800px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;

list-style: none;
padding: 0;


user-select: none;
}
.text-sm {
    line-height: 1.75rem;
}
/* Rectangle 1 */
.rectangle {
    height: 85px;
    border-radius: 4px;
    border: 2px solid indianred;
    text-shadow: 0 0 1px #000;
    color: #333333;
    transition: all 0.3s ease;

    text-align: -webkit-center;
    box-sizing: border-box;
    width: 125px;
    font-size: 16px;

border-radius: 4px;
border: 2px solid indianred;
background: #D9D9D9;

font-family: 'Roboto', sans-serif;
text-shadow: 0 0 1px #000;
color: #333333; /* Color de texto */
transition: all 0.3s ease;
cursor: pointer;

display: inline-block;
margin-right: 20px;
vertical-align: top;
}


.rectangle:hover {
    background: #ffffff; /* Cambiar el color de fondo */
    border-color: #a52a2a; /* Cambiar el color del borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregar una sombra */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
    color: #000000; /* Cambiar el color del texto */
    cursor: pointer; /* Cambiar el cursor a pointer */
}


@media only screen and (max-width: 600px) {/*moviles */
.container {
    max-width: 1024px!important;
    height: auto;
    margin-top: 20px!important;
}
.title{
    position: relative;
}

.rectangle{ /* fila doble para moviles*/ 
    margin-right: 0px;
}}

@media only screen and (min-width: 601px) {/*tablet / pc */
.container {
    height: 390px!important;
    width: 765px!important;
    gap: 10px!important;
    max-width: 765px!important;
}}


h1{
box-sizing: border-box;

width: 85%;
height: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;

color: #B14242;

border: 1px solid rgba(0, 0, 0, 0.15);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-align: center;
margin:5px;
border-bottom: solid;
user-select: none;
}

.tittle2{
    border: 3px solid rgba(0, 0, 0, 0.15);
    font-size: 20px;
    border: outset;
    cursor: pointer; /* Cambia el cursor a una mano */
  pointer-events: auto;
}



.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 2px solid #a52a2a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 20px;
    color: #a52a2a;
    opacity: 0;
    animation: fadeInOut 3s forwards;
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
</style>

<!--script>
    document.querySelector('.tittle2')?.addEventListener('click', () => {
      window.location.href = '/'; /* Redirige al enlace deseado */
    });
</script-->

<script>
    document.querySelector('.tittle2')?.addEventListener('click', () => {
        const popup = document.getElementById('popup');
        popup.style.display = 'block';
        setTimeout(() => {
            popup.style.display = 'none';
        }, 3000);
    });
    </script>