---
import Layout from "@/layouts/Layout.astro"

import KonamiCode from "@/components/KonamiCode.astro"
import HeroLogo from "@/components/HeroLogo.astro"

import Footer from "@/sections/Footer.astro"

import H from "@/routines/h.astro"

import Elementor from "@/sections/Elementor.astro"

---

<Layout description="Home Issa Power GYM" title="ISSA POWER GYM">
	
	<section class="flex flex-col place-items-center gap-4 lg:gap-9 mt-4" style="">
		<HeroLogo class="h-auto w-[300px] text-primary md:w-[500px]"/>
	</section>
	
	<Elementor/>

	<main class="flex flex-col place-items-center gap-4 lg:gap-9 mt-5">
	<H/>
	</main>
	
	<Footer />
	<KonamiCode />

	
</Layout>
